<app-profile-settings-responsive></app-profile-settings-responsive>
<app-fixed-sidebar-left></app-fixed-sidebar-left>
<app-fixed-sidebar-left-responsive></app-fixed-sidebar-left-responsive>
<app-fixed-sidebar-right></app-fixed-sidebar-right>
<app-fixed-sidebar-right-responsive></app-fixed-sidebar-right-responsive>
<app-header-bp></app-header-bp>
<app-header-bp-responsive></app-header-bp-responsive>
<!--<app-your-profile></app-your-profile>-->
<app-window-popup-chat></app-window-popup-chat>
<app-back-to-top></app-back-to-top>
<router-outlet></router-outlet>
